.StatusBar {
  display: flex;
  width: 216px;
  height: 48px;
  background-color: #c0c0c0;
  border-top: 4.67px solid #808080;
  border-left: 4.67px solid #808080;
  border-right: 4.67px solid #fff;
  border-bottom: 4.67px solid #fff;
  justify-content: space-between;
  align-items: center;
}

.mineCounter {
  background-color: black;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 61.5px;
  height: 37.5px;
  border-top: 1.8px solid #808080;
  border-left: 1.8px solid #808080;
  border-right: 1.8px solid #fff;
  border-bottom: 1.8px solid #fff;
  margin-left: 5px;
}

.hundredsPlace,
.tensPlace,
.onesPlace {
  width: 90%;
  height: 90%;
  background-image: url('../../assets/images/d_numbers.png');
  background-repeat: no-repeat;
  background-size: auto 100%; 
  margin: auto;
  margin-left: 1.5px;
  margin-right: 1.5px;
}

.faceButtonShadow {
  display: flex;
  background-color: #808080;
  width: 39px;
  height: 39px;
}

.face {
  display: flex;
  background-image: url('../../assets/images/face_unpressed.png');
  background-size: auto 100%;
  box-sizing: border-box;
  width: 36.6px;
  height: 36.6px;
  border-top: 3.5px solid #fff;
  border-left: 3.5px solid #fff;
  border-right: 3.5px solid #808080;
  border-bottom: 3.5px solid #808080;
  margin: 1.3px;
  cursor: pointer;
}

.face:active {
  border-top: 3.5px solid #808080;
  border-left: 3.5px solid #808080;
  border-right: 1.8px solid #808080;
  border-bottom: 1.8px solid #808080;
  background-size: auto 30px;
  background-position: 2px 2px;
}

.timer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 61.5px;
  height: 37.5px;
  border-top: 1.8px solid #808080;
  border-left: 1.8px solid #808080;
  border-right: 1.8px solid #fff;
  border-bottom: 1.8px solid #fff;
  margin-right: 5px;
}