.StatusBar {
  display: flex;
  width: 216px;
  height: 48px;
  background-color: #c0c0c0;
  border-top: 4.68px solid #808080;
  border-left: 4.68px solid #808080;
  border-right: 4.68px solid #fff;
  border-bottom: 4.68px solid #fff;
  justify-content: space-between;
  align-items: center;
}

.mineCounter {
  background-color: black;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 61.5px;
  height: 37.5px;
  border-top: 1.8px solid #808080;
  border-left: 1.8px solid #808080;
  border-right: 1.8px solid #fff;
  border-bottom: 1.8px solid #fff;
  margin-left: 5px;
}

.hundredsPlace,
.tensPlace,
.onesPlace {
  width: 90%;
  height: 90%;
  background-image: url('../../assets/images/d_numbers.png');
  background-repeat: no-repeat;
  background-size: auto 100%; 
  margin: auto;
  margin-left: 1.5px;
  margin-right: 1.5px;
}

.face {
  display: flexbox;
  background-color: chocolate;
  width: 40px;
  height: 40px;
  border: 2px solid #808080;
  border-top-color: #fff;
  border-left-color: #fff;
  cursor: pointer;
}

.face:active {
  border: 2px solid #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
}

.timer {
  display: flex;
  background-color: darkgreen;
  width: 40px;
  height: 40px;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}