.StatusBar {
  display: flex;
  width: 300px;
  height: 80px;
  background-color: #c0c0c0;
  border: 2px solid #808080;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  box-sizing: border-box;
}

.mineCounter {
  display: flex;
  background-color: aqua;
  justify-content: center;
  width: 60px;
  height: 40px;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.face {
  display: flexbox;
  background-color: chocolate;
  width: 40px;
  height: 40px;
  border: 2px solid #808080;
  border-top-color: #fff;
  border-left-color: #fff;
  cursor: pointer;
}

.face:active {
  border: 2px solid #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
}

.timer {
  display: flex;
  background-color: darkgreen;
  width: 40px;
  height: 40px;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}