.Cell {
  display: grid;
  background-color: #c0c0c0;
  width: 21.4px;
  height: 21.3px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;

  font-size: 10px;
}