.Cell {
  display: grid;
  background-color: #c6c6c6;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-top: 3.32px solid #fff;
  border-left: 3.32px solid #fff;
  border-right: 3.32px solid #808080;
  border-bottom: 3.32px solid #808080;
  cursor: pointer;

  font-size: 10px;
}

.Cell:active {
  border: transparent;
  border-top: 1.5px solid #808080;
  border-left: 1.5px solid #808080;
}

.CellOpen {
  display: grid;
  place-items: center;
  background-color: #c6c6c6;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-top: 1.5px solid #808080;
  border-left: 1.5px solid #808080;

  font-size: 10px;
}

.MineCount {
  background-image: url('../../assets/images/numbers.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.Mine {
  background-image: url('../../assets/images/mine.png');
  background-size: contain;
  background-color: #ff0000;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}