.Cell {
  display: grid;
  background-color: #c0c0c0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
  cursor: pointer;

  font-size: 10px;
}

.CellOpen {
  display: grid;
  place-items: center;
  background-color: #c0c0c0;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-top: 1.5px solid #606060;
  border-left: 1.5px solid #606060;

  font-size: 10px;
}

.MineCount {
  background-image: url('../../assets/images/icons.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.Mine {
  background-image: url('../../assets/images/mine_red.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}