.Board {
  display: grid;
  background-color: #c0c0c0;
  width: 268px;
  height: 380px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #808080;
  border-bottom: 5px solid #808080;
  justify-content: center;
  align-items: end;
}

.CellBox {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: #c0c0c0; 
  width: 240px;
  height: 240px;
  border-top: 5px solid #808080;
  border-left: 5px solid #808080;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  margin-bottom: 8px;
}