.Board {
  display: grid;
  background-color: #c0c0c0;
  width: 252px;
  height: 313.5px;
  box-sizing: border-box;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #808080;
  border-bottom: 5px solid #808080;
  justify-content: center;
  align-items: end;
}

.CellBox {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-color: #c0c0c0; 
  width: 216px;
  height: 216px;
  border-top: 4.67px solid #808080;
  border-left: 4.67px solid #808080;
  border-right: 4.67px solid #fff;
  border-bottom: 4.67px solid #fff;
  margin-bottom: 7.5px;
}